.box{
    width: 200px;
    height: 400px;
    border-top: 2px solid blue;
    &::before{
        content: '';
        width: 200px;
        height: 2px;
        top: 0;
        left: 0;
        background-color: black;
    }
}