.outer-box{
    position: relative;
    @apply mx-auto;
    width: 204px;
    height: 404px;
    border-radius: 5px;
    border: 2px solid red;
.box{
     position: relative;
    width: 200px;
    height: 400px;
    background-color: yellow;
    
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 200px;
        height: 2px;
        top: -2px;
        left: 0;
        background-color: black;
        transition: all 0.1s;
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 400px;
        top: 0px;
        right: -2px;
        background-color: black;
        transition: all 0.1s;
        transition-delay: 100ms;
    }
    &:hover{
        &::before{
            width: 0px;
        }
        &::after{
            height: 0px;
        }
    }

    .inner-box{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 400px;
        background-color: green;
        z-index: 300;
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 0px;
            height: 2px;
            top: 400px;
            right: -2px;
            background-color: black;
            transition: all 0.1;
            transition-delay: 200ms;
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 3px;
            height: 0px;
            bottom: 0px;
            left: -2px;
            background-color: black;
            transition: all 0.1s;
            transition-delay: 300ms;
        }
        &:hover{
           &::before{
                width: 204px;
            }   
            &::after{
                height: 400px;
            }
            
        }
    }
}
}