<div class="mx-auto w-[50%]">
    <form #loginForm="ngForm">
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                id="login" 
                type="text" 
                placeholder="Username"
                [(ngModel)]="model.login"
                name="login"
                #login = "ngModel"
                >
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Password
            </label>
            <input 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                id="password" 
                type="password"
                name="password" 
                required
                placeholder="Password"
                [(ngModel)]="model.login"
                #password = "ngModel"
                >
          </div>
          <button type="submit" [ngClass]="{'bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded': true,
                                             'bg-primary-500 hover:bg-primary-500 cursor-not-allowed': !loginForm.form.valid,
                                             'bg-primary-500': loginForm.form.valid}" 
                                              [disabled]="!loginForm.form.valid">Submit</button>
        
                                              <button (click)="reset()"  [ngClass]="{'bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded': true,
                                              'bg-primary-500 hover:bg-primary-500 cursor-not-allowed': !loginForm.form.valid,
                                              'bg-primary-500': loginForm.form.valid}" 
                                               [disabled]="!loginForm.form.valid" *ngIf="loginForm.form.valid">Reset</button>
                                            </form>
</div>
