
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/iconic/css/open-iconic.scss";

body{
    @apply bg-primary-400 fill-primary-700;
    background-image: url(./assets/images/1542667853.svg); 
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    overflow-x: hidden;

    .input{
        @apply shadow-sm appearance-none border rounded w-full bg-primary-100 py-2 px-3 text-gray-700 leading-tight focus:outline-primary-contrast-400;
        
    }
    
    .ng-dirty .ng-invalid{
        @apply focus:outline-red-500;
    }
}

