<div class="w-[50%] bg-primary-500 p-4 mx-auto" >
    <form [formGroup]="registrationForm">
        
        <div class="grid grid-cols-2 pt-4">

            <label for="email">E-mail: </label>

            <div class="flex flex-col">
            
                <input id="email" placeholder="E-mail" formControlName="email">
              
                <div class="h-[22px]">
                    <span class="text-xs text-red-700" *ngIf="formErrors['email']">{{formErrors['email']}}</span>
                </div>
            
            </div>
        </div>
        
        <div class="grid grid-cols-2 pt-4">
            
            <label for="password">Password: </label>
    
            <div class="flex flex-col">
            
                <input id="password" placeholder="Password" formControlName="password" type="password">
            
                <div class="h-1">
                    <span *ngIf="formErrors['password']">{{formErrors['password']}}</span>
                </div>
            </div>    
    
        </div>
    
    </form>

</div>
